* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

.container {
  display: flex;
  height: 100%;
}

.header {
  display: none;
}

.hero-mobile {
  display: none;
}

.block {
  background-image: url('./images/bg-pattern-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 12rem 4rem 10rem;
}

.block__header {
  margin-bottom: 8rem;
}

.content {
  color: hsl(0, 36%, 70%);
  line-height: 2;
}

.big__text {
  text-transform: uppercase;
  display: block;
  font-size: 60px;
  letter-spacing: 12px;
  line-height: 1.2;
}

.big__text--margin {
  margin-bottom: 2rem;
}

.big__text--pink {
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}

.big__text--black {
  font-weight: 400;
  color: hsl(0, 6%, 24%);
}

.hero img {
  height: 100%;
}

form {
  margin-top: 3rem;
}

form input[type=email] {
  border: 2px solid hsl(0, 36%, 70%);
  width: 80%;
  font-size: 16px;
  float: left;
  padding: 16px;
  border-radius: 30px;
  outline: none;
}

::-webkit-input-placeholder {
  /* Edge */
  color: hsl(0, 36%, 70%);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: hsl(0, 36%, 70%);
}

::placeholder {
  color: hsl(0, 36%, 70%);
}

form button {
  float: left;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 20%;
  border-radius: 30px;
  width: 18%;
  padding: 14.7px;
  margin-left: -60px;
  transition: box-shadow .2s ease-in-out;
  outline: none;
}

form button:hover {
  background: hsl(0, 80%, 86%);
  box-shadow: 0px 0px 24px hsl(0, 80%, 86%);
}

form ::after {
  content: "";
  clear: both;
  display: table;
}

.email-error {
  border-color: hsl(0, 93%, 68%) !important;
}

.error-icon {
  float: left;
  margin-left: -110px;
  padding: 12px;
}

.no-show {
  display: none;
}

.error {
  color: hsl(0, 93%, 68%);
}

footer {
  padding: .7rem
}

.attribution {
  font-size: 11px;
  text-align: center;

}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 425px) {
  .container {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .header {
    display: block;
    padding: 1.5rem;
  }

  .hero-mobile {
    display: block;
  }

  .hero-mobile img {
    width: 100%;
  }

  .block {
    background: hsl(0, 100%, 98%);
    padding: 2rem;
  }

  .block__header {
    display: none;
  }

  .hero {
    display: none;
  }

  .content {
    text-align: center;
  }

  .big__text {
    text-align: center;
    font-size: 50px;
  }

  form button {
    width: 24%;
  }
}